.profile {
  display: grid;
  grid-template-columns: 0 1fr 0;
  grid-template-rows: auto 8em 1fr auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  scroll-behavior: smooth;
}

.profile::before {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  content: "";
  background-image: url('../../../assets/IMG_1577.JPG');
  background-size: auto;
  transition: all 0.3s ease-in-out;
}

.profile-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: transparent;
  padding: 40px 30px;
}

.profile-body {
  background: transparent;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  border-radius: 10px;
  min-height: 400px;
  padding: 30px;
}

.profile-card {
  box-shadow: 2px 0px 40px #bcb3b3a3;
  padding: 20px;
  width: 50%;
  background: white;
  border-radius: 10px;
  text-align: center;
}

.profile-card-container {
  margin-top: 30px;;
  padding: 2px 16px;
  height: 200px;
  text-align: center;
}

.profile-card-photo {
  align-content: center;
  font-size: 48px;
  background: white;
  box-shadow: 0 0 10px #d3d3d326;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: calc(50% - 50px);
  position: relative;
  color: #073244a5;
}

.profile-favorite-view {
  float: right;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 0px 40px #bcb3b3a3;
}

.profile-favorites-list {
  display: ruby;
}

.profile-control-center {
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: auto;
  background: transparent;
  box-shadow: 2px 0px 40px #bcb3b3a3;
}

.filter-btn {
  margin-left: 1%;
  color: white;
  border: none;
  border-radius: 8px;
  background: #0e3f50;
}

.filter-input {
  border: none;
  width: 200px;
  border-radius: 8px;
  padding: 8px 15px;
  box-shadow: 0 0 3px #80808082;
}

.profile-sub-body {
  grid-column: 2 / 3;
  grid-row: -1;
  min-height: 50vh;
  padding: 30px;
  margin-top: 0;
}

.profile-cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  grid-gap: 10px;
}

.content-pill {
  cursor: pointer;
  margin: 10px;
  transition: all 0.5s ease-in-out;
  background: white;
  width: 200px;
  border-radius: 8px;
  padding: 12px 20px;
  border: solid 2px #073244;
  color: #125e57;
  text-align: center;
}

.content-pill:hover {
  scale: 1.2;
}

.crx-button {
  border-radius: 25px;
  border: solid 3px #073244;
  background: transparent;
}

.filter-btn, .crx-button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  font-weight: 800;
}

.crx-button:hover {
  box-shadow: 1px 1px 11px #073244a5;
}

@media (min-width: 601px) and (max-width: 1023px) {
  .profile-cards-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  .profile {
    grid-template-columns: 20px 1fr 20px;
  }

  .profile-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 15px;
    height: 100%;
  }

  .profile-card {
    width: auto;
  }

  .profile-sub-body {
    margin-top: 50px;
  }

  .profile-cards-container {
    grid-template-columns: auto;
  }
}
